@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url("/fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("/fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans Bold Italic";
    src: url("/fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold";
    src: url("/fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Open Sans Extra Bold Italic";
    src: url("/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans Italic";
    src: url("/fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans Light Italic";
    src: url("/fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "Open Sans SemiBold Italic";
    src: url("/fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-ultralight.otf");
}


@font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-thin.otf");
}


@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-light.otf");
}


@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-medium.otf");
}


@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-semibold.otf");
}


@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-bold.otf");
}


@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-heavy.otf");
}


@font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/sf-ui-display/sf-ui-display-black.otf");
}
